body
{
    color: #23214c;    
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

body a
{
    color: #23214c;
    transition: color .2s linear;
    text-decoration: none;
}

body a:hover
{
    color: #ee87a4;
}

.loader 
{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;	
    background-color: #fff;
}

.loader td 
{       
    text-align: center;
    vertical-align: middle;
}

.loader img
{
    width: 200px;
    height: 150px;        
}

.content-1170
{
    width: 1170px;    
}

.content-1170 img
{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.full-width
{
    line-height: 0;
}



/* TOP navigation */

.navigation-wrapper
{    
    transition: background-color .2s linear;
    z-index: 99 !important;
    background-color: #221C5A;
    width: 100% !important;
    top: 0;
    position: fixed;
}

#header-main-navigation
{    
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
}

.main-navigation.sm-clean
{
    background-color: transparent;    
}

.main-navigation.sm-clean a
{    
    font-size: 13px !important;
    line-height: 40px;
    color: #fff !important;
    font-weight: 400;
    transition: color .2s linear;
    text-transform: uppercase;
    letter-spacing: 0.03cm;
}

.main-navigation.sm-clean .sub-navigation a 
{
    font-size: 11px;
    line-height: 20px;
}

.sm-clean .current_page_item a 
{
    color: #fff !important;
}

.main-navigation.sm-clean a:hover 
{
    color: #fff !important;
}

.sm-clean li.active a
{
    color: #fff !important;
}

.mob-navigation
{
    display: none;
    font-weight: 700;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: color .2s linear;
    color: #fff;
}

/* END TOP navigation */



/* GENERAL SECTION */

.section
{    
    position: relative;
    z-index: 1;
}

.section-number
{   
    overflow: hidden;    
    margin-top: 40px;
}

.title-section-holder
{
    background-color: #32DB8A;
    width: 370px;
    height: 370px;    
    z-index: 2;
}

.section-number span
{    
    margin-left: -64px;
    color: #55B286;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 180px;
    line-height: 100%;
    letter-spacing: -5px;
}

.title-section-holder h2
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 90px;
    width: 245px;
    word-break: break-all;
    line-height: 83px;
    margin-top: 10px;
    color: white;
    margin-left: 115px;
    text-transform: uppercase;
    letter-spacing: -3px;
    padding: 0;
}

.section-content-holder
{   
    background: #fff;
    width: 800px;
    padding: 60px 0;
}

.section-content-holder .content-wrapper
{
    padding: 0 60px;
}

.section-content-holder.right
{
    margin-left: 370px;
}

.section-content-holder.left
{
    margin-top: 370px;
}

.section-content-holder .content-title-holder
{
    overflow: hidden;
    height: 100px;
    margin-top: -60px;
    padding-bottom: 50px;
}

.section-content-holder .content-title
{
    font-family: 'Montserrat';
    font-weight: 700;
    text-align: center;
    font-size: 180px;
    line-height: 100%;
    text-transform: uppercase;
    margin-top: -75px;
    color: #221c5a;    
}

.extra-content-left
{
    width: 800px;
    color: #fff;    
    padding: 100px 0;
}

.extra-content-right
{
    width: 800px;   
    margin-left: 370px;
    color: #fff;
    padding: 100px 0;
}

.extra-content-full-width
{
    padding: 100px 0;
}

.section:last-of-type .extra-content-left, .section:last-of-type .extra-content-right, .section:last-of-type .extra-content-full-width
{
    padding-bottom: 0;
}

/* END GENERAL SECTION */



/* HOME SECTION */

.intro-page 
{
    background-image:url(demo-images/background_img_01b.jpg); 
    padding-bottom: 170px;
    min-height: calc(100vh - 170px);
    background-color: #221c5a; 
    background-repeat: repeat; 
    background-position: center top; 
    background-size: cover;
    z-index: 10;
}

.top-logo
{
    max-height: 100px !important;
    max-width: 85% !important;    
    padding-top: 250px;
}

h1.big-title
{
    font-family: 'Montserrat', sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 100%;
    color: #fff;
    padding-top: 100px;
    letter-spacing: -1px;    
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}

.big-title span 
{
    display: block;
}

.page-template-page-home .intro-page footer
{
    position: absolute;
    width: 100%;
    bottom: 0;
}

.title-desc
{
    font-family: 'PT Serif', serif;
    font-size: 22px;
    line-height: 26px;
    max-width: 333px; 
    color: #fff;
    margin: 0 auto;
}


/* END HOME SECTION */



/* TENTANG KAMI SECTION */

#tentangkami
{
    background-color: #221c5a;
    z-index: 9;
}

#tentangkami .title-section-holder
{
    background-color: #32DB8A
}

#tentangkami .title-section-holder span
{
    color: #55B286;
}

.tentang-holder 
{
    display: inline-block;
    width: 335px;
}

.tentang-holder img 
{
    display: inline-block;
    width: 50px !important;
    vertical-align: top;
}

.tentang-content-holder 
{
    display: inline-block;
    width: 240px;
    margin-top: 55px;
    margin-left: 5px;
}

.tentang-title 
{
    font-family: 'Montserrat', sans-serif; 
    font-size: 24px;
    padding-bottom: 10px;
}

.tentang-content
{
    font-family: 'Montserrat', sans-serif; 
    line-height: 175%;
    padding: 10px;
}

.swipe {
    /*font-family: inherit;*/
    font-size: 28px;
    display: none;
}

/* END TENTANG KAMI SECTION */



/* BERITA SECTION */

#berita
{
    background-color: rgb(34, 28, 90); 
    background-image: url("demo-images/background_img_04.jpg"); 
    background-repeat: no-repeat; 
    background-position: center center; 
    background-size: cover; 
    z-index: 6;
}

#berita .title-section-holder
{
    background-color: rgb(255, 186, 66);
}

#berita .title-section-holder span
{
    color: #e3a436;
}

.berita-item-holder
{    
    padding: 35px 0;
    border-bottom: 2px solid #f4f4f4;
}

.berita-item-holder:last-of-type 
{
    border: none;
}

.berita-item-holder .num 
{
    display: inline-block;
    width: 110px;
    font-size: 48px;
    font-weight: 900;
    color: #e3a436;
}

.berita-item-holder .info 
{
    display: inline-block;
    width: 235px;
}

.berita-item-holder .info .category-links a 
{
    color: #e3a436;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

.berita-item-holder .entry-title 
{
    display: inline-block;
    width: 325px;
    padding: 0;
    vertical-align: top;
    line-height: 0;
}

.blog-holder .entry-title a
{    
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
    font-size: 18px;
    line-height: 100%;
    font-weight: 700;
    line-height: 20px;
    display: block;
}

.latest-post-bottom-text
{
    text-align: center;
    margin-top: 25px;
}

.latest-post-bottom-text a 
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;    
    font-size: 16px;
    line-height: 100%;    
    color: #e3a436;
    letter-spacing: 5px;
    padding-left: 5px;
    padding-bottom: 5px; 
    border-bottom: 2px solid;
}

.quotes-slider-holder
{
    max-width: 500px;
    padding-left: 50px;
}

.quotes-text
{
    font-size: 22px;
    line-height: 40px;    
}

.quotes-author
{
    padding-top: 90px;
    font-size: 16px;
    letter-spacing: 3px;    
}

/* END BERITA SECTION */



/* GALERI SECTION */

#galeri {
    background-color: rgb(34, 28, 90); 
    background-image: url("demo-images/background_img_03.jpg"); 
    background-repeat: no-repeat; 
    background-position: center top; 
    background-size: cover; 
    z-index: 7;
}

#galeri .title-section-holder
{
    background-color: #e64b77;
}

#galeri .title-section-holder span
{
    color: #b24564;
}

#galeri .section-content-holder
{
    padding-bottom: 0;
}

.section-content-holder.galeri-holder
{
    background-color: transparent;
    width: 800px;
    padding: 0;
}

.galeri-holder .galeri-load-more-holder
{
    font-family: 'Montserrat', sans-serif;    
    font-weight: 700;
    font-size: 20px;
    width: 430px;
    background-color: #E74C78;
    text-align: center;
}

.galeri-holder .galeri-load-more-holder img 
{
    padding-bottom: 15px;
}

.galeri-holder .galeri-load-more-holder a
{
    color: #fff;
    padding-top: 30px;
    padding-bottom: 15px;
}

.galeri-holder .galeri-load-more-holder
{    
    margin-right: 0;
    margin-left: auto;
}

.more-posts
{ 
    display: block;
}

.more-posts:hover
{
    cursor: pointer;
}

.grid 
{
    display: block;
    width: 800px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.grid-item 
{
    float: left;
    line-height: 0;
    font-size: 0;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box; 
}

.grid-item img 
{
    display: block;
    width: 100%;
    height: auto;
    max-width: none;    
    max-height: none;
}

.grid-sizer, .grid-item 
{
    width: 400px;
}

.grid-item.p_one_half
{
    width: 400px;
}

.grid-item.p_one
{
    width: 800px;
}

.galeri-text-holder
{
    position: absolute;
    top: 30px;
    left: 30px;
    bottom: 30px;
    right: 30px;
    z-index: 1;
    font-size: 20px;
    background-color: white;
    text-align: center;   
    display: none;    
}

.galeri-text-wrapper
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.galeri-type
{
    line-height: 100%;
    font-size: 11px;
    color: #9a9a9a;    
    padding-bottom: 20px;
}

.galeri-type img 
{
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.galeri-text
{
    font-family: 'Montserrat', sans-serif;    
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 4px;
    margin-bottom: 10px;
}

.galeri-sec-text
{
    font-family: 'Montserrat', sans-serif;    
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #8e8da9;
}

.grid-item a:hover
{
    color: #191919;
}

.more-posts-galeri img
{
    transition: all .2s linear;
    width: 100px;
    height: 100px;
}

.more-posts-galeri img:hover
{
    cursor: pointer;  
    transform: scale(0.9);
}

div.pp_default .pp_loaderIcon
{
    display: none !important;
}

/* END GALERI SECTION */



/* KARYA SECTION */

#karya {
    background-color: rgb(34, 28, 90); 
    /*background-image: url("demo-images/background_img_03.jpg"); */
    background-repeat: no-repeat; 
    background-position: center top; 
    background-size: cover; 
    z-index: 7;
}

#karya .title-section-holder
{
    background-color: #32DB8A;
}

#karya .title-section-holder span
{
    color: #55B286;
}

#karya .section-content-holder
{
    padding-bottom: 0;
}

/* END KARYA SECTION */



/* MEDIA SECTION */

#media
{
    background-color: rgb(34, 28, 90); 
    background-image: url("demo-images/background_img_03.jpg"); 
    background-repeat: no-repeat; 
    background-position: center top; 
    background-size: cover; 
    z-index: 7;
}

#media .title-section-holder
{
    background-color: rgb(255, 186, 66);
}

#media .title-section-holder span
{
    color: #e3a436;
}

#swipe-media {
    text-align: center;
    font-size: 28px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
    visibility: hidden;
}

/* END MEDIA */



/* FOOTER */

footer
{
    background-color: #221C5A;
}

.footer
{
    font-size: 16px;
    line-height: 36px;
    clear: both;
    color: #5b5881;
    text-align: center;    
    padding: 100px 0;
}

.footer-left, .footer-right
{
    width: 810px;
}

.footer-right
{
    margin-left: 370px;
}

.footer a
{
    color: #5b5881;
}

.social-footer a 
{
    margin: 0 10px;
    font-size: 20px;
}

/* END FOOTER */



/* SINGLE BERITA PAGE */

#singleberita
{

    background-color: #221c5a;
    background-image: url(demo-images/item_background_01.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% auto;
}
    
.single-berita .navigation-wrapper
{
    display: none !important;
}

.single-berita article
{
    padding-top: 230px;
}

.single-berita article .entry-content
{
    background-color: #fff;
    padding-bottom: 50px;
    font-size: 18px;
    line-height: 30px;
}

.single-berita .x-close
{
    top: -60px;
    right: -60px;
    background-color: #26276d;
    line-height: 0;
    font-size: 0;
    width: 60px;
    height: 60px
}

.single-berita .x-close img
{
    opacity: 0.4;
    transition: opacity .2s linear;
    width: 30px;
    height: 30px;
    padding-top: 15px;
    padding-left: 15px;
}

.single-berita .x-close:hover img
{
    opacity: 1;
}

.single-berita .entry-content .one
{
    padding-left: 100px;
    padding-right: 100px;
}

.single-berita .entry-content .one_half
{
    width: 435px;
    padding-left: 100px;
}

.single-berita .entry-content .one_half.last
{
    padding-left: 0;
    padding-right: 100px;
}

.single-berita .entry-content h1 
{
    padding: 0;
    font-size: 20px;
    line-height: 30px;
}
.single-berita .nav-logo {
    max-width: 85%;
    max-height: 50px;
    position: absolute;
    top: 20px;
}
/* END SINGLE BERITA */



/* ALL BERITA PAGE */

#allberita
{

    background-color: #221c5a;
    background-image: url(demo-images/item_background_01.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% auto;
}

.berita-page-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}

.berita-wrapper {
    padding: 0 60px !important;
}
    
.all-berita .navigation-wrapper
{
    display: none !important;
}

.all-berita .all-berita-wrapper
{
    padding-top: 230px;
}

.all-berita .all-berita-wrapper .entry-content
{
    background-color: #fff;
    padding-bottom: 50px;
    font-size: 18px;
    line-height: 30px;
}

.all-berita .x-close
{
    top: -60px;
    right: -60px;
    background-color: #26276d;
    line-height: 0;
    font-size: 0;
    width: 60px;
    height: 60px
}

.all-berita .x-close img
{
    opacity: 0.4;
    transition: opacity .2s linear;
    width: 30px;
    height: 30px;
    padding-top: 15px;
    padding-left: 15px;
}

.all-berita .x-close:hover img
{
    opacity: 1;
}

.all-berita .entry-content .one
{
    padding-left: 100px;
    padding-right: 100px;
}

.all-berita .entry-content .one_half
{
    width: 435px;
    padding-left: 100px;
}

.all-berita .entry-content .one_half.last
{
    padding-left: 0;
    padding-right: 100px;
}

.all-berita .nav-logo {
    max-width: 85%;
    max-height: 50px;
    position: absolute;
    top: 20px;
}
/* END ALL BERITA */



/* RESPONSIVE PART */

@media screen and (max-width: 1270px) {   

    .swipe {
        display: block;
    }

    .content-1170 
    {
        width: 960px;
    }

    .one_half
    {
        margin-right: 8%;
        float: left;
        position: relative;
        margin-bottom: 37px;
    }

    .one_half
    {
        width: 46%;
    }      

    .title-section-holder 
    {    
        width: 250px;
        height: 250px;
    }

    .section-number
    {
        margin-top: 20px;
    }

    .section-number span 
    {
        margin-left: -35px;    
        font-size: 100px;
    }

    .title-section-holder h2
    {
        font-size: 80px;
        width: 177px;        
        line-height: 66px;
        margin-top: 25px;        
        margin-left: 75px; 
    }

    .section-content-holder.right 
    {
        margin-left: 250px;
    }

    .section-content-holder.left 
    {
        margin-top: 250px;
    }

    .section-content-holder 
    {
        width: 710px;
    }

    .extra-content-left, .extra-content-right
    {
        width: 710px;
    }

    .extra-content-right
    {
        margin-left: 250px;
    }

    .tentang-holder 
    {    
        width: 290px;
    }

    .section-content-holder.galeri-holder 
    {    
        width: 710px;
    }

    .grid-item.p_one, .grid
    {
        width: 710px;       
    }    

    .grid-sizer, .grid-item, .grid-item.p_one_half
    {
        width: 355px;
    }  

    .galeri-holder .galeri-load-more-holder 
    {
        width: 460px;
    }

    .section-content-holder .content-title 
    {    
        font-size: 140px;    
        margin-top: -56px;
    }

    .member-content-holder 
    {
        width: 275px;
        padding: 50px;
    }

    .member-image-holder 
    {
        width: 335px;
    }

    .image-slider-wrapper.team .image_slider_next
    {
        right: 260px;
    }

    .berita-item-holder .entry-title 
    {   
        width: 240px;
    } 

    .single-berita .entry-content .one
    {
        padding-left: 5%;
        padding-right: 5%;
    }

    .single-berita .entry-content .one_half 
    {
        width: 40%;
        padding-left: 5%;
        margin-right: 10%;
    }

    .single-berita .entry-content .one_half.last
    {        
        padding-left: 0;
        padding-right: 5%;
    }

    .all-berita .entry-content .one
    {
        padding-left: 5%;
        padding-right: 5%;
    }

    .all-berita .entry-content .one_half 
    {
        width: 40%;
        padding-left: 5%;
        margin-right: 10%;
    }

    .all-berita .entry-content .one_half.last
    {        
        padding-left: 0;
        padding-right: 5%;
    }

}

@media screen and (max-width: 1100px) {    

    .single-berita .x-close
    {
        right: 50%;
        right: calc(50% - 30px);    
    }

    .single-berita .nav-logo {
        right: 50%;
        right: calc(50% - 120px);
    }

    .all-berita .x-close
    {
        right: 50%;
        right: calc(50% - 30px);    
    }

    .all-berita .nav-logo {
        right: 50%;
        right: calc(50% - 120px);
    }

    .berita-page-title {
        font-family: 'Montserrat', sans-serif;
        font-size: 48px;
        text-align: center;
    }    

}

@media screen and (max-width: 1020px) {    

    .content-1170 
    {
        width: 100%;
    }    

    .extra-content-left, .extra-content-right
    {
        width: 100%;
        margin-left: 0;
    }    

    .single-berita article 
    {
        padding-top: 140px;
    }

    .one_half
    {
        width: 100%;
        float: none;
        margin-right: 0;
        margin-left: 0;
    }   

    .single-berita .entry-content .one_half 
    {    
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        margin-right: 0;
    }

    .single-berita .entry-content .one_half.last
    {        
        padding-left: 5%;
        padding-right: 5%;
    }

    .site-content .one_half, .single-berita .entry-content div 
    {
        text-align: left;
    }

    .all-berita .entry-content .one_half 
    {    
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        margin-right: 0;
    }

    .all-berita .entry-content .one_half.last
    {        
        padding-left: 5%;
        padding-right: 5%;
    }

    .site-content .one_half, .all-berita .entry-content div 
    {
        text-align: left;
    }

    .image-slider-wrapper.service a.image_slider_next 
    {
        top: -89px;
        right: 0;
    }

    .section
    {
        padding-bottom: 150px;
    }  

    .section-content-holder.right 
    {
        margin-left: 0;
    }

    .section-content-holder.left 
    {
        margin-top: 0;
    }

    .section-number
    {
        display: inline-block;
        margin-top: 10px;
    }    

    .section-number span
    {
        font-size: 50px;
        margin-left: -15px;
    }          

    .title-section-holder
    {
        width: 100%;
        height: auto;
        position: relative !important;
        top: 0 !important;
    }

    .title-section-holder h2
    {
        display: inline-block;
        width: auto;
        margin: 0;
        vertical-align: top;
        margin-top: 10px;
        font-size: 40px;
        line-height: 100%;
    }

    .section-content-holder 
    {
        width: 100%;
        padding: 30px 0;    
    }

    .section-content-holder .content-wrapper
    {
        padding: 0 5%;
    }       

    .tentang-holder 
    {    
        width: 100%;
        display: block;
    }

    .service-content-holder 
    {
        width: 100%;
        width: calc(100% - 75px);
        margin-bottom: 30px;
    }    

    .section-content-holder.galeri-holder 
    {    
        width: 100%;
    }

    .grid-item.p_one, .grid
    {
        width: 100%;       
    }    

    .grid-sizer, .grid-item, .grid-item.p_one_half
    {
        width: 50%;
    }  

    .galeri-holder .galeri-load-more-holder 
    {
        width: 100%;
    }  

    .member-content-holder 
    {
        width: 40%;
        padding: 10% 5% 5% 5%;
    }

    .member-image-holder 
    {
        width: 50%;
    }

    .image-slider-wrapper.team .image_slider_next
    {
        right: 40%;
    }

    .berita-item-holder .entry-title 
    {
        width: 100%;
        display: block;
        padding-top: 20px;
    }

    .berita-item-holder .info
    {
        width: auto;
    }

    .section-content-holder .content-title-holder 
    {
        overflow: visible;
        height: auto;
        margin: 0;
        padding: 0;
    }

    .section-content-holder .content-title 
    {
        font-size: 19vw;
        margin-top: 0;
    }

    .quotes-slider-holder 
    {
        width: 90%;
        padding-left: 5%;
    }    
}

@media screen and (min-width: 925px) {   
    .main-navigation
    {
        display: block !important;
    }
}

@media screen and (max-width: 925px) { 

    #swipe-media {
        visibility: visible;
    } 

    .intro-page
    {
        min-height: 0;
    }

    .section
    {
        position: static !important;
        z-index: 0 !important;
    }

    h1.big-title
    {
        font-size: 32px;
        padding-top: 10px;
    }

    h1.big-title span 
    {
        display: inline;
    }

    .title-desc 
    {    
        font-size: 19px;
        line-height: 23px;
    }

    .mob-navigation
    {
        display: block;
    }

    .mob-navigation:hover
    {
        cursor: pointer;
    }

    .galeri-text-holder 
    {
        display: none !important;
        opacity: 0 !important;
    }   

    .main-navigation
    {
        float: none;
        margin: 0 auto;
        text-align: center;
        max-width: 300px;
        width: 100%;
        position: relative;
        z-index: 9999;
        display: none;
    }

    .main-navigation ul 
    {
        width: 12em; /* fixed width only please - you can use the "subnavigationsMinWidth"/"subnavigationsMaxWidth" script options to override this if you like */
    }

    .sm-clean a, .sm-clean a:hover, .sm-clean a:focus, .sm-clean a:active
    {
        padding-right: 0;
        padding-left: 0;
    }

    .main-navigation.sm-clean a 
    {
        line-height: 24px;
    }

    .main-navigation.sm-clean .sub-navigation a 
    {
        font-size: 16px;
        line-height: 25px;    
        text-align: center;
    }    

    .carousel_fw_next
    {
        display: block !important;
    }

    .fw_carousel_pagination
    {
        display: none !important;
    }


}

@media screen and (max-width: 805px) {       

    .contact-form input[type=text], .contact-form input[type=email], .contact-form textarea, p.custom-field-class, #commentform #email, #commentform #author, #commentform #comment
    {
        width: 100% !important;
    }        

}


@media screen and (max-width: 650px) { 

    .tentang-content{
        padding-bottom: 35px;
    }

    .berita-page-title {
        font-family: 'Montserrat', sans-serif;
        font-size: 32px;
        text-align: center;
    }
  
}


@media screen and (max-width: 350px) { 

    .section-number 
    {
        margin-top: 9px;
    }

    .section-number span 
    {
        font-size: 35px;
        margin-left: -10px;
    }

    .title-section-holder h2
    {
        margin-top: 9px;
        font-size: 35px;
    }

    .image-slider-wrapper.service a.image_slider_next 
    {
        top: -84px;
    }
}